@page
@model Projecto.Receitas.WebApp.Pages.Administracao.AlterarUtilizadorComFotoModel
@{
    ViewData["Title"] = "Alterar Utilizador";
}

@section pesquisa
{
    <partial name="_semPesquisa" />
}

@section navegacao
{
    <partial name="_navAdministracao" />
}


<div class="container fundo_admin">
    <div class="row p-5">
        <div class="col-2"></div>
        <div class="col-10">
            <div class="card container_dimensoes">
                <div class="card-header text-center bg-dark text-white">
                    <h3>Alterar Utilizador</h3>
                </div>
                <div class="card-body bg-secondary bg-opacity-50 bg-gradient">
                    <div class="row">
                        <div class="col-10">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-10">
                                    <form method="post">
                                        <input asp-for="Utilizador.UtilizadorId" type="hidden" />
                                        <div class="form-group row m-3">
                                            <div class="input-group col-12">
                                                <span class="input-group-text">Primeiro Nome</span>
                                                <input asp-for="Utilizador.PrimeiroNome" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <span asp-validation-for="Utilizador.PrimeiroNome" class="col-12 text-danger"></span>
                                        </div>
                                        <div class="form-group row m-3">
                                            <div class="input-group col-12">
                                                <span class="input-group-text">Nomes do Meio</span>
                                                <input asp-for="Utilizador.NomesDoMeio" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <span asp-validation-for="Utilizador.NomesDoMeio" class="col-12 text-danger"></span>
                                        </div>
                                        <div class="form-group row m-3">
                                            <div class="input-group col-12">
                                                <span class="input-group-text">Ùltimo Nome</span>
                                                <input asp-for="Utilizador.UltimoNome" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <span asp-validation-for="Utilizador.UltimoNome" class="col-12 text-danger"></span>
                                        </div>
                                        <div class="form-group row m-3">
                                            <div>
                                                <label asp-for="Utilizador.Genero" class="col-4 form-label">Género</label>
                                                <select asp-for="Utilizador.Genero" asp-items="@Model.Generos" class="col-8 form-select"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <span asp-validation-for="Utilizador.Genero" class="col-8 text-danger"></span>
                                        </div>
                                        <input asp-for="Utilizador.FotoUrl" class="form-control" type="hidden" />
                                        <div class="form-group row m-3">
                                            <div class="input-group col-12">
                                                <span class="input-group-text">Data de Nascimento</span>
                                                <input asp-for="Utilizador.DataDeNascimento" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <span asp-validation-for="Utilizador.DataDeNascimento" class="col-12 text-danger"></span>
                                        </div>
                                        <div class="form-group row m-3">
                                            <div class="input-group col-12">
                                                <span class="input-group-text">Nacionalidade</span>
                                                <input asp-for="Utilizador.Nacionalidade" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <span asp-validation-for="Utilizador.Nacionalidade" class="col-12 text-danger"></span>
                                        </div>
                                        <div class="form-group row m-3 mb-5">
                                            <label asp-for="Utilizador.Permissoes" class="form-label">Permissões</label>
                                            <select asp-for="Utilizador.Permissoes" asp-items="@Model.Permissoes" class="form-control"></select>
                                        </div>
                                        <div class="row">
                                            <span asp-validation-for="Utilizador.Permissoes" class="col-12 text-danger"></span>
                                        </div>
                                        <input asp-for=IdPagina type="hidden" />
                                        <input asp-for="Texto" type="hidden" />
                                        <div class="row m-3 mt-5">
                                            <a asp-page="/Administracao/VerUtilizadores" asp-route-id="@Model.IdPagina"
                                               class="col-4 btn btn-dark" asp-route-texto="@Model.Texto">Voltar</a>
                                            <div class="col-4"></div>
                                            <button type="submit" class="col-4 btn btn-secondary">Alterar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
