<ul class="list-group list-group-flush">
    <li id="gerirUtilizadores" class="list-group-item list-group-item-dark link_hover">
        <a onclick="LinkActivo(this,'link_selecionado')" asp-page="/Administracao/VerUtilizadores">Gerir os Utilizadores</a>
    </li>
    <li id="gerirReceitas" class="list-group-item list-group-item-dark link_hover">
        <a onclick="LinkActivo(this,'link_selecionado')" asp-page="/Administracao/VerReceitas">Gerir as Receitas</a>
    </li>
    <li id="gerirIngredientes" class="list-group-item list-group-item-dark link_hover">
        <a onclick="LinkActivo(this,'link_selecionado')" asp-page="/Administracao/VerIngredientes">Gerir os Ingredientes</a>
    </li>
    <li id="gerirCategorias" class="list-group-item list-group-item-dark link_hover">
        <a onclick="LinkActivo(this,'link_selecionado')" asp-page="/Administracao/VerCategorias">Gerir as Categorias</a>
    </li>
    <li id="gerirMedidas" class=" list-group-item list-group-item-dark link_hover">
        <a onclick="LinkActivo(this,'link_selecionado')" asp-page="/Administracao/VerMedidas">Gerir as Medidas</a>
    </li>
    <li id="paginaInicial" class=" list-group-item list-group-item-dark link_hover">
        <a onclick="LinkActivo(this,'link_selecionado')" asp-page="/Index">Pagina Principal</a>
    </li>
</ul>
