<ul class ="list-group list-group-flush">
    <li id="verReceitasAnonimo" class="list-group-item list-group-item-dark link_hover">
        <a onclick="LinkActivo(this,'link_selecionado')" asp-page="/Index">Ver Receitas</a>
    </li>
</ul>
