<div class="pesquisa">
    <form method="get" asp-page="/Index">
        <div class="input-group">
            <input name="texto" type="search" class="form-control" onchange="this.form.submit();" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Pesquisar</button>
            </div>
        </div>
    </form>
</div>
